
<link rel="import" href="issue-priority.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">


<dom-module id="issues-list">
  <template>

    <style>
      vaadin-grid {
        height: inherit;
      }
    </style>

    <!-- Fetch an array of users to be shown in the grid -->
    <iron-ajax id="issues" url="/dummy/issues.json" handle-as="json" last-response="{{issues}}" auto></iron-ajax>
    <!-- The array is set as the <vaadin-grid>'s "items" property -->
    <vaadin-grid items="[[issues]]" active-item="{{selectedIssue}}" id="grid">
      <vaadin-grid-column>
        <template class="header">
          <vaadin-grid-sorter path="priority">Priority</vaadin-grid-sorter>
        </template>
        <template>
          <issue-priority priority="[[item.priority]]"></issue-priority>
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column>
        <template class="header">Type</template>
        <template>[[item.type]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column>
        <template class="header">Summary</template>
        <template>[[item.summary]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column>
        <template class="header">Assigned to</template>
        <template>[[item.assigned_to.first_name]] [[item.assigned_to.surname]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column>
        <template class="header">Last modified</template>
        <template>[[_formatDate(item.last_modified)]]</template>
      </vaadin-grid-column>
      <vaadin-grid-column>
        <template class="header">Reported</template>
        <template>[[_formatDate(item.reported)]]</template>
      </vaadin-grid-column>
    </vaadin-grid>


  </template>

  <script>
    class IssuesList extends Polymer.Element {
      static get is() { 
        return 'issues-list';
      }

      static get properties () {
        return {
          selectedIssue: {
            type: Object,
            observer: '_issueSelected',
            notify: true
          }
        }
      }

      _formatDate (date) {
        return (new Date(date)).toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
      }

      _issueSelected (newV, oldV) {
        this.$.grid.selectedItems = newV ? [newV] : [];
      }
    }

    window.customElements.define(IssuesList.is, IssuesList);
  </script>
</dom-module>
