<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">

<dom-module id="single-issue">
  <template>
    <style>
      .menu {
        display: flex;
        flex-flow: column;
        background: #a8a8a8;
        padding: 10px;
      }

      .properties {
        display: flex;
        align-items: center;
      }

      .properties *:not(:first-child) {
        margin-left: 5px;
      }

      vaadin-button {
        border-radius: 5px;
      }

      .issue-info {
        display: flex;
        padding: 10px;
      }

      .issue-info .icon {
        color: #a8a8a8;
      }

      .issue-description {
        margin-left: 10px;
      }

      .username {
        color: #a8a8a8;
      }

    </style>

    <div class="menu">
      <div class="issue-summary">
        <iron-icon icon="icons:open-in-new"></iron-icon>
        [[issue.summary]]
      </div>
      <div class="properties">
        <div class="property">
          <vaadin-combo-box label="priority"></vaadin-combo-box>
        </div>
        <div class="property">
          <vaadin-combo-box label="type"></vaadin-combo-box>
        </div>
        <div class="property">
          <vaadin-combo-box label="status"></vaadin-combo-box>
        </div>
        <div class="property">
          <vaadin-combo-box label="assigned to"></vaadin-combo-box>
        </div>
        <div class="property">
          <vaadin-combo-box label="version"></vaadin-combo-box>
        </div>
        <div>
          <vaadin-button>Update</vaadin-button>
        </div>
        <div>
          <vaadin-button>Revert</vaadin-button>
        </div>
      </div>
    </div>

    <div class="issue-info">
      <div class="icon">
        <iron-icon icon="social:person"></iron-icon>
      </div>
      <div class="issue-description">
        <div class="username">
          [[issue.reported_by.first_name]] [[issue.reported_by.surname]]
        </div>
        <div class="description">
          [[issue.description]]
        </div>
      </div>
    </div>
  </template>

  <script>
    class SingleIssue extends Polymer.Element {
      static get is () {
        return 'single-issue';
      }

      static get properties () {
        return {
          issue: {
            type: Object
          }
        }
      }

    }

    window.customElements.define(SingleIssue.is, SingleIssue);
  </script>
</dom-module>
